@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.ItemAddedToCart)
{
    <div class="alert alert-success text-center" role="alert">
        Item added to cart successfully!
    </div>
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Koi Paradise</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bring Serenity to Your Home</p>
        </div>
    </div>
</header>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Koi Paradise</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bring Serenity to Your Home</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if (Model.Kois != null)
            {
                @foreach (var koi in Model.Kois)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Link wrapping the image and details -->
                            <a asp-page="/Item" asp-route-koiId="@koi.Id" class="text-decoration-none text-dark">
                                <!-- Product image -->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="@koi.KoiType.Name" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">@koi.KoiType.Name</h5>
                                    </div>
                                </div>
                            </a>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <form method="post" asp-page-handler="AddToCart" asp-route-koiId="@koi.Id">
                                        <button type="submit" class="btn btn-dark mt-auto">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>