@page
@model KoiOrderingSystem_Web.Pages.Admin.Farms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Farm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Farm.FarmName" class="control-label"></label>
                <input asp-for="Farm.FarmName" class="form-control" />
                <span asp-validation-for="Farm.FarmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Farm.Location" class="control-label"></label>
                <input asp-for="Farm.Location" class="form-control" />
                <span asp-validation-for="Farm.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Farm.Description" class="control-label"></label>
                <input asp-for="Farm.Description" class="form-control" />
                <span asp-validation-for="Farm.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Farm.ManagerId" class="control-label"></label> *@ Manager
                <select asp-for="Farm.ManagerId" class ="form-control" asp-items="ViewBag.ManagerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Farm.EstablishedYear" class="control-label"></label>
                <input asp-for="Farm.EstablishedYear" class="form-control" />
                <span asp-validation-for="Farm.EstablishedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
