@page
@model KoiOrderingSystem_Web.Pages.Admin.Kois.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Koi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Koi.Weight" class="control-label"></label>
                <input asp-for="Koi.Weight" class="form-control" />
                <span asp-validation-for="Koi.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Description" class="control-label"></label>
                <input asp-for="Koi.Description" class="form-control" />
                <span asp-validation-for="Koi.Description" class="text-danger"></span>
            </div>
            <!--
                 <div class="form-group">
                <label asp-for="Koi.Price" class="control-label"></label>
                <input asp-for="Koi.Price" class="form-control" />
                <span asp-validation-for="Koi.Price" class="text-danger"></span>
            </div>
            -->

            <div class="form-group">
                <label asp-for="Koi.HealthStatus" class="control-label"></label>
                <input asp-for="Koi.HealthStatus" class="form-control" />
                <span asp-validation-for="Koi.HealthStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.BirthDate" class="control-label"></label>
                <input asp-for="Koi.BirthDate" class="form-control" />
                <span asp-validation-for="Koi.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.DateAdded" class="control-label"></label>
                <input asp-for="Koi.DateAdded" class="form-control" />
                <span asp-validation-for="Koi.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Koi.Status" /> @Html.DisplayNameFor(model => model.Koi.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Koi.Picture" class="control-label"></label>
                <input asp-for="Koi.Picture" class="form-control" />
                <span asp-validation-for="Koi.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koi.KoiTypeId" class="control-label"></label>
                <select asp-for="Koi.KoiTypeId" class="form-control" asp-items="ViewBag.KoiTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Koi.OrderDetailKoiId" class="control-label"></label>
                <input asp-for="Koi.OrderDetailKoiId" class="form-control" />
                <span asp-validation-for="Koi.OrderDetailKoiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
