@{
    Layout = null; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KoiOrderingSystem_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h4>Admin Menu</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" asp-page="/Admin/Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/Users/Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/KoiTypes/Index">KoiTypes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/Farms/Index">Farms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/Kois/Index">Kois</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Admin/KoiByBatches/Index">KoiByBatches</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>