@page
@model KoiOrderingSystem_Web.Pages.Customer.OrderTrips.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderTrip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderTrip.TripStartDate" class="control-label"></label>
                <input asp-for="OrderTrip.TripStartDate" class="form-control" />
                <span asp-validation-for="OrderTrip.TripStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.TripEndDate" class="control-label"></label>
                <input asp-for="OrderTrip.TripEndDate" class="form-control" />
                <span asp-validation-for="OrderTrip.TripEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.MaxParticipants" class="control-label"></label>
                <input asp-for="OrderTrip.MaxParticipants" class="form-control" />
                <span asp-validation-for="OrderTrip.MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.IsActive" class="control-label"></label>
                <input asp-for="OrderTrip.IsActive" class="form-control" />
                <span asp-validation-for="OrderTrip.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.OrderId" class="control-label"></label>
                <select asp-for="OrderTrip.OrderId" class ="form-control" asp-items="ViewBag.OrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.FarmId" class="control-label"></label>
                <select asp-for="OrderTrip.FarmId" class ="form-control" asp-items="ViewBag.FarmId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.ConsultantId" class="control-label"></label>
                <select asp-for="OrderTrip.ConsultantId" class ="form-control" asp-items="ViewBag.ConsultantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.CreatedAt" class="control-label"></label>
                <input asp-for="OrderTrip.CreatedAt" class="form-control" />
                <span asp-validation-for="OrderTrip.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.DeletedAt" class="control-label"></label>
                <input asp-for="OrderTrip.DeletedAt" class="form-control" />
                <span asp-validation-for="OrderTrip.DeletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTrip.UpdatedAt" class="control-label"></label>
                <input asp-for="OrderTrip.UpdatedAt" class="form-control" />
                <span asp-validation-for="OrderTrip.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OrderTrip.IsDeleted" /> @Html.DisplayNameFor(model => model.OrderTrip.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
